SHIPYARD_HTTP_ADDR=:8080
SHIPYARD_DATABASE_URL=postgres://shipyard:shipyard@localhost:5432/shipyard?sslmode=disable
SHIPYARD_MIGRATIONS_DIR=migrations
SHIPYARD_STORAGE_BACKEND=filesystem
SHIPYARD_STORAGE_DIR=data/blobs
SHIPYARD_LOG_LEVEL=info
